numpy==1.19.1
pandas==1.1.0
pillow==7.2.0
pytorch
cudatoolkit
streamlit==0.64.0
torchvision==0.7.0
opencv-python==4.3.0.36
efficientnet-pytorch==0.6.3
efficientnet==1.1.0
matplotlib==3.3.0
